# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [2]:
import numpy as np

2. Create a null vector of size 10

In [2]:
data = np.zeros(10)

3. Create a vector with values ranging from 10 to 49

In [3]:
data1 = np.arange(10,49)

4. Find the shape of previous array in question 3

In [4]:
data1.shape

(39,)

5. Print the type of the previous array in question 3

In [5]:
data1.dtype

dtype('int32')

6. Print the numpy version and the configuration

In [6]:
print(np.__version__)

1.18.1

7. Print the dimension of the array in question 3

In [7]:
data1.ndim

1

8. Create a boolean array with all the True values

In [14]:
boolean_arr = np.ones( 10 , dtype = bool)
boolean_arr

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

9. Create a two dimensional array

In [10]:
array1 = np.array([[2,2], [3,3]])
array1.ndim

2

10. Create a three dimensional array

In [11]:
array1 = np.array([[1,1,1],[2,2,2], [3,3,3]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [16]:
data2 = np.arange(1, 20)
print("Original array:")
print (data2)
print("Reverse array:")
data2 = data2[::-1]
data2

Original array:
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
Reverse array:

array([19, 18, 17, 16, 15, 14, 13, 12, 11, 10,  9,  8,  7,  6,  5,  4,  3,
        2,  1])

12. Create a null vector of size 10 but the fifth value which is 1

In [18]:
arr1 = np.zeros(10)
print(arr1)
print("Update fifth value to 1")
arr1[4] = 1
print(arr1)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Update fifth value to 1
[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

13. Create a 3x3 identity matrix

In [19]:
arr2 = np.identity(3)
print(arr2)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [30]:
arr = np.array([1, 2, 3, 4, 5])
print(arr.dtype)
print("after converting the data type ")
arr = arr.astype('float64')
arr.dtype

int32
after converting the data type

dtype('float64')

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [34]:
import numpy as np
arr1 = np.array([[1., 2., 3.],
                 
                 [4., 5., 6.]])  

arr2 = np.array([[0., 4., 1.],
                 
                 [7., 2., 12.]])
arr3 = np.multiply(arr1, arr2)
arr3

array([[ 0.,  8.,  3.],
       [28., 10., 72.]])

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [36]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.],

            [7., 2., 12.]])
arr3 = (arr1 == arr2)
arr3

array([[False, False, False],
       [False, False, False]])

17. Extract all odd numbers from arr with values(0-9)

In [47]:
arr = np.array([1,2,3,5,9,6,3,4,5,6,6,7,7,8,9])
arr[arr%2 ==1]

array([1, 3, 5, 9, 3, 5, 7, 7, 9])

18. Replace all odd numbers to -1 from previous array

In [52]:
arr = np.array([1,2,3,5,9,6,3,4,5,6,6,7,7,8,9])
arr[arr%2 ==1] = -1
arr

array([-1,  2, -1, -1, -1,  6, -1,  4, -1,  6,  6, -1, -1,  8, -1])

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [12]:
import numpy as np
arr = np.arange(10)
arr[5:8] = 12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

20. Create a 2d array with 1 on the border and 0 inside

In [72]:
arr = np.ones((4,4))
arr[1:-1,1:-1] = 0
arr

array([[1., 1., 1., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 1., 1., 1.]])

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [109]:
arr2d = np.array([[1, 2, 3],

            [4, 5, 6], 

            [7, 8, 9]])
arr2d[1][1] = 12
arr2d

array([[ 1,  2,  3],
       [ 4, 12,  6],
       [ 7,  8,  9]])

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [111]:
arr3d = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
arr3d[0] = 64
arr3d

array([[[64, 64, 64],
        [64, 64, 64]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [125]:
arr2d = np.array([[1,3,4,2,5],[6,7,8,9,0]])
print(arr2d.ndim)
arr2d[0]

2

array([1, 3, 4, 2, 5])

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [126]:
arr2d = np.array([[1,3,4,2,5],[6,7,8,9,0]])
print(arr2d.ndim)
arr2d[1]

2

array([6, 7, 8, 9, 0])

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [154]:
arr = np.array([[0,1,2,3,4],[5,6,7,8,9]])
arr[0:2, 2:3]

array([[2],
       [7]])

26. Create a 10x10 array with random values and find the minimum and maximum values

In [161]:
arr = np.random.randn(10,10)
print(arr)
print(f"minimum value of the array is {arr.min()} ")
print(f"maximum value of the array is {arr.max()} ")

[[ 0.09506024  1.22451439  1.17191686 -1.02446415 -0.3767817  -0.50926211
  -0.16265564  0.76856935  1.67416038  0.09231384]
 [ 0.75640363 -2.48710332 -0.47975706  0.03854092 -1.32503747  0.17439824
   1.02121625 -2.27400254  1.69372744  2.17834243]
 [ 0.60610759  2.87349454  0.43852876  0.72954523  0.89005451  2.3434759
   1.33013778 -0.23050968  0.61043345 -1.49192853]
 [ 0.42431012  1.02705215  0.32395225  0.13817283  1.09463647 -2.61984125
   0.12196547  0.09222184 -0.9684739  -0.69568098]
 [-0.84260229 -1.8246811   0.18405223  0.7551478   0.14320231 -0.33575023
  -0.2973813   0.38386383  1.51264317  0.49525527]
 [ 1.31532471 -2.66421409 -1.00472265  0.29953632 -1.01478408 -0.82745086
  -1.20946685 -1.32584663 -0.04454418  0.31537689]
 [ 0.39800765  0.84414089  1.65131306  1.57527401  0.70420967  1.02523236
   0.56512855 -0.82096178  2.47032954  0.78587197]
 [ 0.18452997 -1.09868362 -1.14620441  0.63220452  0.02803059 -0.95853297
  -0.29013918 -0.40558819 -0.88815483 -0.17754306]
 [ 1.4907172   1.40851329 -0.22321725 -1.22842034  0.02256437  1.72118702
  -2.79639767 -2.44654791 -1.08396776  0.60963388]
 [ 1.14828931  0.26159075  0.77489097  0.27900512  1.31421958  0.0317837
   0.03746034  2.29309313 -0.62439922  0.7865077 ]]
minimum value of the array is -2.7963976721822097
maximum value of the array is 2.8734945405444092

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [162]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
print(np.intersect1d(a,b))

[2 4]

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [166]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
print(np.where(a==b))

(array([1, 3, 5, 7], dtype=int64),)

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [3]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) 
data = np.random.randn(7, 4)
x = data[names != "Will"] 
x

array([[ 1.4533799 ,  0.92135096, -1.3732312 , -0.59087768],
       [ 0.132447  ,  0.4402212 ,  0.89653266, -0.29353398],
       [-0.03380972,  0.15910626,  0.21234786,  0.39538268],
       [ 1.95454824,  0.16774749,  0.56767643,  2.56180497],
       [-1.07051635, -0.81350013, -0.99642117,  0.36703682]])

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [214]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)
data[names != ("Will" and "Joe")] = 0
data

array([[ 0.        ,  0.        ,  0.        ,  0.        ],
       [-1.05895104,  1.50007271,  0.16019416,  1.76169127],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [ 0.        ,  0.        ,  0.        ,  0.        ],
       [-0.65709443, -1.28584695, -0.3674925 ,  0.77641392],
       [-0.10554672,  0.66137724, -0.80546989,  0.69123814]])

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [174]:
arr = np.array([[1,2,3],[4,5,6],[7,8,9],[11,12,13],[14,15,0]])
print(arr.shape)
print(arr.ndim)

(5, 3)
2

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

In [180]:
arr2 = np.array([[[1,2,3,4],[5,6,7,8]],[[9,10,11,12],[13,14,15,16]]])
arr2.shape

(2, 2, 4)

33. Swap axes of the array you created in Question 32

In [194]:
arr2 = np.array([[[1,2,3,4],[5,6,7,8]],[[9,10,11,12],[13,14,15,16]]])
np.swapaxes(arr2,0,2)

array([[[ 1,  9],
        [ 5, 13]],

       [[ 2, 10],
        [ 6, 14]],

       [[ 3, 11],
        [ 7, 15]],

       [[ 4, 12],
        [ 8, 16]]])

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [222]:
arr3 = np.arange(10)
np.sqrt(arr3)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [234]:
arr4 = np.random.randn(12)
arr5 = np.random.randn(12)
print(arr4)
print(arr5)
np.maximum.reduce([arr4,arr5])

[-0.79971949  0.35764351  0.74284804 -0.137484   -0.07348051 -0.22423268
  1.05698464 -0.30648169  1.74424601 -2.56387512  0.02112406  0.64198509]
[ 0.25457777 -1.38426725  0.85455443  0.94728818  0.92589943 -1.50693732
  0.30997279 -1.77063232 -2.05170369  1.36451148  0.60316873 -1.74821546]

array([ 0.25457777,  0.35764351,  0.85455443,  0.94728818,  0.92589943,
       -0.22423268,  1.05698464, -0.30648169,  1.74424601,  1.36451148,
        0.60316873,  0.64198509])

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [246]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
np.sort(np.unique(names))

array(['Bob', 'Joe', 'Will'], dtype='<U4')

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [247]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
np.setdiff1d(a, b)

array([1, 2, 3, 4])

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [30]:
sampleArray = np.array([[34,43,73],[82,22,12],[53,94,66]])
print(sampleArray[0:3])
sampleArray = np.delete(sampleArray, 1 , 1)
print(sampleArray)
newColumn = np.array([[10,10,10]])
NewArr = np.insert(sampleArray,1, newColumn, axis = 1 )
print(NewArr)

[[34 43 73]
 [82 22 12]
 [53 94 66]]
[[34 73]
 [82 12]
 [53 66]]
[[34 10 73]
 [82 10 12]
 [53 10 66]]

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [248]:
x = np.array([[1., 2., 3.], [4., 5., 6.]]) 
y = np.array([[6., 23.], [-1, 7], [8, 9]])
np.dot(x,y)

array([[ 28.,  64.],
       [ 67., 181.]])

40. Generate a matrix of 20 random values and find its cumulative sum

In [262]:
matarr = np.random.randn(20,20)
print(matarr)
matarr.cumsum()

[[ 1.11995663e+00  1.38302498e+00  5.17943879e-01  2.03282660e-01
   7.59284361e-01 -1.01249118e+00 -1.26718223e+00 -1.35006760e+00
   4.62163432e-01 -1.43901656e+00  8.46829704e-01  6.58164351e-01
   3.14873495e-01 -1.04552815e-01 -1.28305861e+00 -4.34608540e-01
  -1.16478009e-01 -9.43350998e-01  1.55348594e+00 -1.10025501e+00]
 [ 3.94007122e-01 -2.81697178e+00 -4.91561772e-01  8.93949978e-01
  -8.94210221e-01 -3.77970789e-03  1.27083016e+00 -8.24069275e-01
  -7.33232538e-01  1.22297222e+00 -1.20142133e+00 -1.46530372e+00
  -7.95635743e-01 -9.54180610e-01  2.44068728e-02 -3.10288775e-01
  -2.54143606e-01 -1.70255736e+00 -1.23527176e+00 -1.56700511e+00]
 [ 4.42262572e-01  1.78072176e+00 -1.20760624e+00 -5.36935105e-01
  -1.74168802e+00 -4.83869310e-01  2.44096404e-01 -1.03494376e+00
   3.32987562e-01  1.04974101e+00 -2.10025292e-01 -7.24270294e-02
   1.16157841e+00 -2.98893879e-01 -1.12892067e+00 -3.04150804e-02
  -1.60881180e-01  1.95246309e+00 -1.23223988e+00 -9.33516640e-02]
 [-1.62574824e+00 -6.81199904e-02  2.53571492e-01  4.33491843e-02
   1.84164371e+00 -1.41456383e+00 -2.21479971e-01 -5.52218940e-02
  -1.22409131e+00 -2.87612621e-01 -8.83028494e-01  5.40727543e-01
  -3.12350213e-01 -6.46518619e-01  6.29357014e-01  6.46904900e-01
  -1.05559152e+00  6.80792467e-01 -8.83951716e-01 -1.26403311e-01]
 [-1.12751136e+00 -9.54817401e-01 -8.25635819e-01  1.08754091e+00
   8.08370946e-01 -6.76291090e-01 -2.37704690e-01  3.45448999e-01
  -9.06123349e-01  1.06287966e+00  1.75206702e-01  3.49468842e-01
  -1.78093832e-01 -3.83992719e-01  1.43571779e+00  2.25195218e-01
   1.84329337e+00 -1.36940531e+00 -4.06710160e-02  9.12446395e-02]
 [ 1.14492948e+00 -4.00964163e-01  2.87512527e-01  1.81277781e-01
   1.47686421e+00 -1.09664971e+00 -7.65704643e-01 -3.02079507e-01
  -1.84697270e+00  1.27490020e+00  8.56590206e-02 -1.08590524e+00
  -3.41466836e-01  1.95728179e+00 -1.36970648e+00 -1.38519676e+00
   6.49519518e-01 -1.67281335e-01 -6.44252332e-01  9.78255769e-02]
 [-9.11979619e-01 -5.13582132e-01  5.20971006e-01 -2.43367892e+00
  -5.49021618e-03 -3.46862661e-01  1.48648865e+00  1.09358306e+00
  -1.54376524e+00 -1.72314870e+00 -9.87997168e-01 -1.05863060e+00
  -1.26069444e+00 -4.19645955e-01 -7.09160061e-01  2.15551315e-01
  -1.65876923e+00 -1.01316142e-03  6.60571910e-01 -1.49400915e+00]
 [ 2.26447873e-01  6.15542235e-01 -7.64260762e-01 -1.38228135e+00
  -1.16720237e+00 -4.64081386e-01 -6.92956225e-01 -9.69179392e-01
   4.54936408e-01 -9.22302288e-02  1.97421644e+00  6.51154126e-01
   1.39716946e+00 -2.08566160e+00  1.87037096e+00  8.72538608e-02
   1.64505359e+00  1.11077967e+00 -9.76737331e-01 -1.69979991e+00]
 [ 1.57771150e-01  7.21159071e-01  8.94620262e-02  6.60519081e-01
  -1.25500255e+00 -5.60706059e-01  2.66872332e-01 -3.73259337e-01
   3.31998380e-01  7.03088916e-01 -1.08320376e+00  4.59193301e-01
  -5.35313963e-01  1.66579315e-01 -5.91008229e-01  1.63043349e-01
   6.61715364e-01  2.94079468e-01  3.07043177e-01 -9.34802905e-01]
 [ 8.74834144e-01 -6.63217393e-01  5.71079535e-01 -2.15107268e-02
   4.28251689e-01  5.07557316e-01 -2.00550080e-01  7.24194556e-01
  -1.19059946e+00 -1.16142232e+00 -4.69281231e-01  1.11117257e+00
  -7.70822644e-01  1.17553084e+00 -8.77090484e-01  4.92249541e-01
  -3.79644649e-01 -1.22819094e+00 -3.82191527e-01 -8.85544271e-01]
 [ 4.20351334e-01  1.76271662e-01  2.98831636e-01 -2.28821458e+00
  -2.30142961e+00  3.76619027e-01 -6.17339969e-01  6.29238502e-02
  -8.08476981e-01  3.68526322e-01  3.07805459e-01  1.42130529e+00
   4.86944834e-01  1.04313450e-01 -9.89307055e-01  4.85476826e-01
   3.22676671e-01 -8.60396433e-01 -3.91148766e-01 -1.30685968e+00]
 [-2.41668790e-01  1.74627691e-01 -1.17348610e+00 -8.93076624e-01
   1.37011179e+00 -7.83020175e-01  2.49738782e+00 -4.64940421e-01
   1.21478257e+00  1.82839762e-01 -2.15641879e-01 -1.42641519e+00
  -7.26314391e-01 -2.00918558e-01  1.41459594e+00 -1.80977773e-01
  -1.01784082e+00  1.41760141e+00  5.17623781e-01 -9.97229491e-01]
 [-4.83894909e-01  4.25001912e-01  8.72034404e-01  2.31829530e+00
   3.08305762e-01  6.62504932e-01  8.16448548e-01 -2.07005787e+00
   1.93459288e-01 -1.40228079e+00  9.95151028e-01  1.20105676e-01
  -1.78124028e+00 -1.02533159e+00  1.88263372e-01  3.37221085e-03
   5.50467628e-01 -1.28609336e+00 -8.98374896e-01  1.17679050e+00]
 [ 9.77455757e-03 -1.18259392e-01  8.60933290e-01  6.10418548e-01
   5.38626166e-01  6.11981437e-01  4.56595284e-01 -1.14712450e-01
   5.45403789e-01  2.11066576e+00 -1.05193265e+00 -6.27489939e-01
   5.29143754e-02  5.70963451e-01 -4.57853461e-01 -9.20416616e-01
   7.65002385e-01 -4.18094094e-01  1.20660252e-01  3.48846738e-01]
 [-1.42499805e+00  1.61189222e+00  8.81729959e-02  9.64200448e-01
  -6.46881325e-02  1.39517678e+00 -2.01738563e-01  7.43699609e-01
   1.73826366e-01  1.72612594e+00 -1.06282455e-01  1.07703928e+00
   3.04866524e-01 -1.22561748e-01 -9.21122820e-01  1.19038736e+00
   2.56340933e-01 -1.52379036e+00  5.64599368e-01  1.96670291e+00]
 [-4.05561753e-01  1.19282333e-01  2.26814450e-01 -4.76898780e-02
   1.70629890e+00  5.49747186e-01  2.02187866e-01  3.22975101e-01
  -6.32795868e-01  1.30719976e+00  1.49073248e+00  6.12168023e-01
   6.16817148e-01 -1.32365048e+00 -2.29983041e+00 -1.99099298e+00
  -5.73722244e-02  1.59148661e+00 -1.01212705e+00  6.19991658e-01]
 [-3.21687586e-01  1.77688696e+00  6.04819100e-01  1.30871131e-01
   9.53082628e-01  1.01766199e+00 -2.61846914e-03 -1.08245655e+00
  -1.39677953e+00  1.58622106e-01  3.14531197e-01 -8.70990929e-01
  -2.74301794e-01 -2.11202226e-01  5.27605292e-01  3.51940537e-01
   1.16675243e+00 -7.20397941e-01 -1.20914492e+00 -1.04522245e-01]
 [-9.08943195e-01  6.83586509e-02 -1.01867750e+00  3.72742946e-01
   7.98251494e-01  1.73560720e+00 -5.72903642e-01 -5.86326452e-01
  -1.27729973e+00 -3.47689322e-01  3.27766653e-01 -1.23884300e+00
   6.21787371e-01  2.08912622e+00 -4.64866963e-01 -1.14458608e-02
   7.74012145e-01  7.39077642e-01 -2.50273040e-01  3.81918141e-01]
 [-3.86568533e-01 -1.78929393e+00 -4.76863536e-01  1.96206119e-01
   7.11305608e-01 -1.16760518e+00  1.44854774e+00  7.84438839e-01
   1.05249642e-01 -9.22841196e-02 -6.34097381e-01 -2.84268979e+00
  -2.12769177e-01 -1.44649351e+00  1.04379387e+00 -5.61364719e-01
   3.01030643e-01  1.32279645e+00 -5.55098724e-01 -5.19907565e-01]
 [ 1.17781745e-01  1.13101914e+00 -1.21487251e-01  9.23020092e-02
  -3.64557600e-01  1.33974938e+00  4.20970838e-01 -8.73042331e-01
  -1.04317388e+00 -2.01658589e+00 -1.69426627e+00  2.21251121e-01
  -7.33320467e-01 -1.93254866e+00  1.63259637e+00 -3.76566206e-01
   4.52245985e-01  3.55616052e-01 -8.72817041e-01  6.50133657e-01]]

array([  1.11995663,   2.50298161,   3.02092549,   3.22420815,
         3.98349251,   2.97100133,   1.7038191 ,   0.35375151,
         0.81591494,  -0.62310162,   0.22372808,   0.88189243,
         1.19676593,   1.09221311,  -0.1908455 ,  -0.62545404,
        -0.74193205,  -1.68528305,  -0.13179711,  -1.23205211,
        -0.83804499,  -3.65501677,  -4.14657854,  -3.25262857,
        -4.14683879,  -4.15061849,  -2.87978833,  -3.70385761,
        -4.43709015,  -3.21411792,  -4.41553925,  -5.88084297,
        -6.67647872,  -7.63065933,  -7.60625245,  -7.91654123,
        -8.17068483,  -9.87324219, -11.10851395, -12.67551906,
       -12.23325649, -10.45253473, -11.66014097, -12.19707607,
       -13.93876409, -14.4226334 , -14.178537  , -15.21348076,
       -14.8804932 , -13.83075219, -14.04077749, -14.11320451,
       -12.95162611, -13.25051998, -14.37944066, -14.40985574,
       -14.57073692, -12.61827383, -13.85051372, -13.94386538,
       -15.56961362, -15.63773361, -15.38416212, -15.34081294,
       -13.49916923, -14.91373306, -15.13521303, -15.19043492,
       -16.41452624, -16.70213886, -17.58516735, -17.04443981,
       -17.35679002, -18.00330864, -17.37395163, -16.72704673,
       -17.78263825, -17.10184578, -17.9857975 , -18.11220081,
       -19.23971217, -20.19452957, -21.02016539, -19.93262447,
       -19.12425353, -19.80054462, -20.03824931, -19.69280031,
       -20.59892366, -19.53604399, -19.36083729, -19.01136845,
       -19.18946228, -19.573455  , -18.13773721, -17.91254199,
       -16.06924862, -17.43865393, -17.47932495, -17.38808031,
       -16.24315083, -16.64411499, -16.35660247, -16.17532469,
       -14.69846048, -15.79511019, -16.56081483, -16.86289434,
       -18.70986704, -17.43496684, -17.34930782, -18.43521306,
       -18.7766799 , -16.81939811, -18.18910458, -19.57430135,
       -18.92478183, -19.09206317, -19.7363155 , -19.63848992,
       -20.55046954, -21.06405167, -20.54308067, -22.97675958,
       -22.9822498 , -23.32911246, -21.84262381, -20.74904075,
       -22.29280599, -24.01595469, -25.00395186, -26.06258246,
       -27.3232769 , -27.74292285, -28.45208292, -28.2365316 ,
       -29.89530083, -29.89631399, -29.23574208, -30.72975123,
       -30.50330336, -29.88776113, -30.65202189, -32.03430324,
       -33.20150561, -33.665587  , -34.35854322, -35.32772261,
       -34.87278621, -34.96501644, -32.9908    , -32.33964587,
       -30.94247641, -33.02813802, -31.15776705, -31.07051319,
       -29.4254596 , -28.31467993, -29.29141726, -30.99121717,
       -30.83344602, -30.11228695, -30.02282492, -29.36230584,
       -30.61730839, -31.17801445, -30.91114212, -31.28440145,
       -30.95240307, -30.24931416, -31.33251791, -30.87332461,
       -31.40863857, -31.24205926, -31.83306749, -31.67002414,
       -31.00830877, -30.71422931, -30.40718613, -31.34198904,
       -30.46715489, -31.13037228, -30.55929275, -30.58080348,
       -30.15255179, -29.64499447, -29.84554455, -29.12135   ,
       -30.31194946, -31.47337178, -31.94265301, -30.83148044,
       -31.60230308, -30.42677224, -31.30386273, -30.81161319,
       -31.19125784, -32.41944878, -32.80164031, -33.68718458,
       -33.26683324, -33.09056158, -32.79172994, -35.07994453,
       -37.38137413, -37.0047551 , -37.62209507, -37.55917122,
       -38.3676482 , -37.99912188, -37.69131642, -36.27001114,
       -35.7830663 , -35.67875285, -36.66805991, -36.18258308,
       -35.85990641, -36.72030284, -37.11145161, -38.41831129,
       -38.65998008, -38.48535239, -39.65883848, -40.55191511,
       -39.18180332, -39.96482349, -37.46743568, -37.9323761 ,
       -36.71759353, -36.53475376, -36.75039564, -38.17681083,
       -38.90312522, -39.10404378, -37.68944784, -37.87042561,
       -38.88826643, -37.47066502, -36.95304124, -37.95027073,
       -38.43416564, -38.00916373, -37.13712932, -34.81883403,
       -34.51052826, -33.84802333, -33.03157478, -35.10163266,
       -34.90817337, -36.31045416, -35.31530313, -35.19519746,
       -36.97643774, -38.00176933, -37.81350595, -37.81013374,
       -37.25966611, -38.54575948, -39.44413437, -38.26734388,
       -38.25756932, -38.37582871, -37.51489542, -36.90447687,
       -36.36585071, -35.75386927, -35.29727398, -35.41198643,
       -34.86658264, -32.75591689, -33.80784954, -34.43533948,
       -34.3824251 , -33.81146165, -34.26931511, -35.18973173,
       -34.42472934, -34.84282344, -34.72216319, -34.37331645,
       -35.79831449, -34.18642227, -34.09824927, -33.13404883,
       -33.19873696, -31.80356018, -32.00529874, -31.26159913,
       -31.08777276, -29.36164682, -29.46792928, -28.39089   ,
       -28.08602348, -28.20858523, -29.12970805, -27.93932069,
       -27.68297976, -29.20677011, -28.64217075, -26.67546784,
       -27.08102959, -26.96174726, -26.73493281, -26.78262268,
       -25.07632379, -24.5265766 , -24.32438873, -24.00141363,
       -24.6342095 , -23.32700974, -21.83627725, -21.22410923,
       -20.60729208, -21.93094257, -24.23077297, -26.22176595,
       -26.27913818, -24.68765157, -25.69977862, -25.07978696,
       -25.40147455, -23.62458759, -23.01976849, -22.88889736,
       -21.93581473, -20.91815274, -20.92077121, -22.00322776,
       -23.4000073 , -23.24138519, -22.92685399, -23.79784492,
       -24.07214672, -24.28334894, -23.75574365, -23.40380311,
       -22.23705068, -22.95744862, -24.16659354, -24.27111579,
       -25.18005898, -25.11170033, -26.13037783, -25.75763489,
       -24.95938339, -23.2237762 , -23.79667984, -24.38300629,
       -25.66030602, -26.00799534, -25.68022869, -26.91907168,
       -26.29728431, -24.20815809, -24.67302506, -24.68447092,
       -23.91045877, -23.17138113, -23.42165417, -23.03973603,
       -23.42630456, -25.21559849, -25.69246203, -25.49625591,
       -24.7849503 , -25.95255548, -24.50400775, -23.71956891,
       -23.61431927, -23.70660339, -24.34070077, -27.18339056,
       -27.39615974, -28.84265325, -27.79885938, -28.3602241 ,
       -28.05919345, -26.736397  , -27.29149572, -27.81140329,
       -27.69362154, -26.5626024 , -26.68408966, -26.59178765,
       -26.95634525, -25.61659587, -25.19562503, -26.06866736,
       -27.11184125, -29.12842714, -30.82269341, -30.60144229,
       -31.33476276, -33.26731141, -31.63471504, -32.01128125,
       -31.55903527, -31.20341921, -32.07623625, -31.4261026 ])